/.DS_Store
/1-Add JavaScript to HTML
/10-Variables and Strings Challenge Solution
/11-Introducing Conditional Statements
/12-Program Multiple Outcomes
/14-The Conditional Challenge Solution
/2-JavaScript Practice Challenge
/3-JavaScript Challenge  Solution
/4-Introducing Variables
/5-Change the Value in a Variable
/6-JS Numeric Operations
/7-JS Strings and Concatenation
/8-Capture Input
/9-Display the Value of a String on a Page
/README.md